.h1 {
  margin: 90px 0px 30px 0px;
  color: var(--mdxH1);
  font-size: 32px;
}

.h2 {
  margin: 30px 0px 30px 0px;
  color: var(--mdxH1);
  font-size: 28px;
}

.h3 {
  margin: 30px 0px 30px 0px;
  color: var(--mdxH1);
  font-size: 24px;
}

.para {
  font-size: 17px;
  line-height: 36px;
  margin-bottom: 30px;
  color: var(--softText);
}

.strong {
  color: var(--mdxStrong);
}

.tag {
  color: var(--mdxTag);
  font-size: 14px;
  letter-spacing: 1px;
  font-weight: 400;
  text-align: center;
  padding: 3px 7px;
  border-radius: 5px;
  white-space: nowrap;
  background-color: var(--mdxTagBg);
  margin-left: 3px;
  margin-right: 3px;
}

.ul {
  list-style: none;
  padding-left: 0;
  margin: 20px 0px 20px 30px;
  line-height: 30px;
}

.li {
  margin-bottom: 10px;
  display: flex;
  align-items: flex-start;
  gap: 15px;
}

.li span {
  display: flex;
  color: var(--softText);
}

.icon {
  margin-top: 8px;
  margin-left: 2px;
}

.oLi {
  counter-increment: muffins;
  margin-bottom: 6px;
  color: var(--softText);
  list-style: none;
  display: flex;
  align-items: baseline;
}
.oLi::before {
  content: counter(muffins) ". ";
  margin-left: 5px;
  color: rgb(236, 115, 176);
  display: inline-flex;
  align-items: end;
  font-weight: 700;
  width: 30px !important;
}

.ordered {
  list-style: none;
  counter-reset: muffins;
  margin-bottom: 20px;
  margin-left: 30px;
}

.list {
  counter-reset: list-number;
  margin-bottom: 20px;
  margin-left: 30px;
  margin-right: 0px;
}

.listItem {
  display: table;
  counter-increment: list-number;
  color: var(--softText);
  /* font-size: 16px; */
  list-style: none;
  display: flex;
  align-items: baseline;
}

.listItem strong {
  color: var(--mdxStrong);
}

.listItem::before {
  content: counter(list-number) ". ";
  padding-right: 20px;
  margin-bottom: 10px;
  display: inline-flex;
  align-items: baseline;
  text-align: right;
  color: var(--mdxOrderedList);
  font-size: 16px;
  font-weight: 700;
}

.imageContainer {
  position: relative;
  /* width: 700px;
  height: 500px; */
  /* width: max-content;
  height: max-content; */
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin-bottom: 40px;
  margin-top: 30px;
  width: 700px;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
}

.blur {
  position: absolute;
  background: var(--mdxImageBlur);
  filter: blur(10px);
  transition: 1s filter linear;
  -webkit-transition: 1s -webkit-filter linear;
  -moz-transition: 1s -moz-filter linear;
  -ms-transition: 1s -ms-filter linear;
  -o-transition: 1s -o-filter linear;
  width: 100%;
  height: 100%;
}
.imageContainer:hover .blur {
  filter: blur(20px);
}

.img {
  object-fit: cover;
  border-radius: 15px;
  /* border: 1px solid rgba(131, 131, 131, 0.5); */
  z-index: 1;
  /* max-width: 700px;
  max-height: 500px; */
}

.link {
  color: var(--mdxLink);
}

.linkContainer {
  position: relative;
  width: max-content;
  font-weight: 700;
}

.linkLine {
  /* display: none; */
  position: absolute;
  bottom: -2px;
  left: 0%;
  background-color: var(--mdxLink);
  width: 0%;
  height: 2px;
  transition: width 1s;
  /* animation: line 0.1s linear reverse; */
}

@keyframes line {
  0% {
    width: 0%;
  }

  100% {
    width: 100%;
  }
}

.linkContainer:hover .linkLine {
  animation: line 0.3s linear forwards;
}

.linkContainer:hover .link {
  color: var(--mdxLinkHover);
}

.noteContainer {
  background-color: var(--mdxNoteBg);
  color: var(--mdxNoteText);
  width: max-content;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 50px;
  margin-top: 30px;
  /* min-width: 500px; */
  max-width: 500px;
  padding: 15px 30px 15px 40px;
  position: relative;
  border-radius: 8px;
  font-size: 13px;
  line-height: 30px;
  border-top: 3px solid var(--mdxNoteBorder);
}

.note p {
  color: var(--mdxNoteText);
  font-size: 13px;
  line-height: 22px;
  padding: none;
  margin-bottom: 0px;
}

.noteCutout {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: var(--bg);
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  left: 100%;
  top: 0%;
  transform: translate(-50%, -50%);
}

.noteLogo {
  background-color: var(--mdxNoteBorder);
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
  font-size: 18px;
  color: var(--mdxNoteText);
}

.linkedInContainer {
  cursor: pointer;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
  width: 500px;
  /* max-height: 580px; */
  background-color: var(--mdxLinkedIn);
  gap: 5px;
  border-radius: 8px;
  border: 1px solid rgba(153, 153, 153, 0.282);
}

.linkedInContainer:hover {
  background-color: var(--mdxLinkedInHover);
}

.linkedInMain {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  padding: 25px;
}

.linkedInTitles {
  display: flex;
  width: 100%;
  margin-left: 10px;
  align-items: center;
  gap: 10px;
}

.linkedInLink {
  color: rgb(172, 172, 172);
  overflow-wrap: break-word;
}

.linkedInAvatar {
  border-radius: 50%;
}

.linkedInName {
  font-weight: bold;
  font-size: 18px;
}
.linkedInText {
  width: 100%;
  padding: 10px 3px;
  line-height: 25px;
  font-size: 14px;
}

.linkedInImgContainer {
  border-radius: 8px 8px 0px 0px;
  overflow: hidden;
  position: relative;
  object-fit: cover;
  width: 450px;
  height: 250px;
  border-top: 1px solid rgb(101, 101, 101, 0.6);
  border-left: 1px solid rgb(101, 101, 101, 0.6);
  border-right: 1px solid rgb(101, 101, 101, 0.6);
}

.liImageBlock {
  margin: 5px 0px 5px 0px;
}

.liImageFooter {
  border-radius: 0px 0px 8px 8px;
  background-color: rgb(56, 67, 79);
  border-bottom: 1px solid rgb(101, 101, 101, 0.6);
  border-left: 1px solid rgb(101, 101, 101, 0.6);
  border-right: 1px solid rgb(101, 101, 101, 0.6);
  line-height: 25px;
  padding: 8px;
}

.liImageTitle {
  font-size: 14px;
  font-weight: 500;
}

.liImageDesc {
  font-size: 14px;
  font-weight: 300;
  color: rgb(163, 163, 163);
}

.liFooter {
  border-top: 1px solid rgba(255, 255, 255, 0.159);
  width: 100%;
  padding: 15px;
  display: flex;
  align-items: center;
}

.liButton {
  margin-left: auto;
  margin-right: 15px;
  background-color: rgb(113, 183, 251);
  padding: 5px 15px;
  color: black;
  border-radius: 15px;
}

@media screen and (max-width: 768px) {
  .blogWrapper {
    max-width: 700px;
    width: 90vw;
  }
  .noteContainer {
    width: 100%;
  }
  .imageContainer {
    width: 80vw;
    height: calc((80vw * (4 / 7)));
  }
  .linkedInContainer {
    width: 80vw;
  }

  .linkedInImgContainer {
    width: 70vw;
    height: calc(70vw * (5 / 9));
  }
}

@media screen and (max-width: 480px) {
  .tag {
    white-space: wrap;
    font-size: 11px;
  }

  .h1 {
    font-size: 24px;
  }
  .para {
    font-size: 16px;
    line-height: 30px;
  }

  .liImageTitle {
    font-size: 12px;
  }
  .liImageDesc {
    font-size: 11px;
  }
}
