.container {
  width: 700px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  /* padding: 50px; */
  z-index: 5;
}

.linkText {
  display: flex;
  align-items: center;
  justify-content: left;
  gap: 60px;
  padding: 0px 30px;
}

.linkDate {
  width: 100px;
  text-align: right;
}

.linkTitle {
  text-align: left;
  font-size: 18px;
}

.glass {
  margin-bottom: 20px;
  width: 700px;
  height: 80px;
  padding: 20px;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgb(255, 255, 255, 0));
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.098);
  box-shadow: 0 8px 32px 0 rgba(61, 61, 61, 0.17);
  user-select: none;
}

.glass:hover {
  transform: scale(1.02);
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.2), rgb(255, 255, 255, 0));
  box-shadow: 0 3px 30px 0 rgba(254, 50, 230, 0.17);
}

.year {
  font-size: 20px;
  text-align: left;
  width: 100%;
  margin-left: 50px;
  margin-bottom: 30px;
}
