.container {
  width: 100vw;
  padding: 10px;
  border-bottom: 0.1px solid rgba(73, 73, 73, 0.5);
  position: sticky;
  top: 0;
  left: 0;
  /* background-color: var(--bg); */
  backdrop-filter: blur(10px);
  z-index: 100;
}

.wrapper {
  width: 900px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.navLogo,
.themeToggle {
  /* border: 1px solid var(--text); */
  width: 60px;
  height: 60px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

.navLogo {
  width: 30px;
}

.logo > svg {
  opacity: 0;
}
