:root {
  --bg: rgb(255, 255, 255);
  --text: black;
  --softBg: #f5f2f2;
  --softText: #605f5f;
  --titleText: #535252;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  max-width: 100vw;
  overflow-x: hidden;
}

a {
  color: inherit;
  text-decoration: none;
}

.dark {
  --bg: #060b17;
  --text: #ddd;
  --softBg: #1f273a;
  --softText: #a6a6a6;
  --titleText: #c4c4c4;
  --contrast: rgb(177, 143, 212);
  --invert: 1;
}

.light {
  --bg: white;
  --text: black;
  --softBg: #f5f2f2;
  --softText: #605f5f;
  --titleText: #535252;
  --contrast: rgb(249, 62, 62);
  --contrast: rgb(3, 3, 3);
  --invert: 0;
}

.container {
  min-height: 100vh;
  background-color: var(--bg);
  color: var(--text);
}

.wrapper {
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding: 5px 80px;
}

@media screen and (max-width: 1536px) {
  .wrapper {
    max-width: 1366px;
  }
}

@media screen and (max-width: 1366px) {
  .wrapper {
    max-width: 1024px;
  }
}

@media screen and (max-width: 1024px) {
  .wrapper {
    max-width: 768px;
    padding: 5px 40px;
  }
}

@media screen and (max-width: 768px) {
  .wrapper {
    max-width: 640px;
    padding: 5px 40px;
  }
}

@media screen and (max-width: 640px) {
  .wrapper {
    max-width: 475px;
    padding: 5px 40px;
  }
}

.treeTop {
  fill: red;
}
