.container {
  min-height: calc(100vh - 200px);
  z-index: 5;
  padding: 50px 0px;
}

.titleContainer {
  z-index: 5;
  margin-bottom: 150px;
  opacity: 0;
  animation: fadeIn 0.8s linear forwards 0.1s;
}

.title {
  font-size: 50px;
  font-weight: 700;
  padding: 30px 140px;
}

.fadeIn {
  z-index: 5;
  /* opacity: 0;
  animation: fadeIn 3s linear forwards 1s; */
}

.emptyBlog {
  width: 700px;
  padding: 30px;
  text-align: center;
}
.emptyBlogContainer {
  /* margin-bottom: 200px; */
  margin-top: 200px;
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
