.container {
  z-index: 4;
  padding: 40px;
  position: relative;
}

/* screen, overlay, darken, lighten, color-dodge, 
color-burn, hard-light, soft-light, difference, 
exclusion, hue, saturation, color, and luminosity */

.glassContainer {
  position: relative;
  z-index: 10;
  backdrop-filter: blur(10px);
  mix-blend-mode: var(--mixBlend);
}

.glassOverlay {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
}

.glass {
  position: relative;
  mix-blend-mode: var(--mixBlend);
  z-index: 10;
  margin-top: 100px;
  margin-bottom: 150px;
  margin-left: auto;
  margin-right: auto;
  width: 900px;
  height: 400px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  padding: 50px;
  border-radius: 8px;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgb(255, 255, 255, 0.05));
  background: var(--glassBg);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.068);
  box-shadow: 0 8px 32px 0 rgba(0, 0, 0, 0, 0.37);
  box-shadow: var(--glassShadow);
  user-select: none;
}

@keyframes focus {
  from {
    filter: blur(8px);
  }
  to {
    filter: blur(0px);
  }
}

.ball {
  width: 280px;
  height: 280px;
  position: fixed;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 50%;
  border-radius: 50%;
  background: linear-gradient(55deg, hotpink, 35%, rgb(0, 30, 255), 55%, aquamarine);
  background: linear-gradient(55deg, hotpink, 25%, rgb(24, 41, 224), aquamarine);
  background: linear-gradient(55deg, hotpink, 30%, rgb(17, 17, 255), aquamarine);
  animation: rotateBall 15s linear infinite;
  z-index: 1;
}

@keyframes rotateBall {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.title {
  padding: 0px 20px;
  font-size: 38px;
  text-align: left;
  color: var(--glassText);
  font-weight: 500;
}

.titleSpan {
  position: relative;
  margin-top: 20px;
  font-size: 32px;
  color: var(--glassTextSoft);
}

@media screen and (max-width: 1024px) {
  .glass {
    width: 80vw;
    height: max-content;
    margin-bottom: 80px;
  }
}

@media screen and (max-width: 768px) {
  .title {
    font-size: 30px;
    font-weight: 500;
  }

  .titleSpan {
    font-size: 20px;
  }
}
