.container {
  position: relative;
  margin-bottom: 40px;
  /* width: 700px; */
  flex: 1;
  height: 300px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
  padding: 20px 40px;
  /* text-align: center; */
  border-radius: 8px;
  /* background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgb(255, 255, 255, 0)); */
  background: var(--glassBg);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(255, 255, 255, 0.098);
  box-shadow: var(--glassShadow);
  user-select: none;
  z-index: 10;
}

.container:hover {
  scale: 1.02;
  background: var(--glassBgHover);
  box-shadow: var(--glassTopicsShadow);
}

.title {
  font-size: 29px;
  font-weight: 700;
  color: var(--glassText);
  /* margin-top: 40px;
  margin-bottom: 40px; */
}

.desc {
  font-weight: 300;
  color: var(--glassTextSoft);
  text-align: center;
}

.ball {
  width: 70px;
  height: 70px;
  /* position: absolute;
  transform: translate(-50%, -50%);
  left: 50%;
  top: 0%; */
  border-radius: 50%;
  background: linear-gradient(55deg, hotpink, 35%, rgb(17, 17, 255), aquamarine);
  /* animation: rotateBall 15s linear infinite; */
  z-index: 3;
}

@keyframes rotateBall {
  0% {
    transform: translate(-50%, -50%) rotate(0deg);
  }

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}

.react {
  background: linear-gradient(55deg, rgb(23, 54, 255), 35%, rgb(54, 251, 192), 85%, rgb(104, 185, 246));
}

.three {
  background: linear-gradient(55deg, rgb(255, 139, 23), 35%, rgb(251, 54, 54), 85%, rgb(64, 67, 253));
}

.game {
  background: linear-gradient(55deg, rgb(255, 0, 0), rgb(158, 39, 255), rgb(230, 2, 255));
}
